.signinup {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.limiter {
    background: white;
    border-radius: 10px;
    width: 75%;
    height: 70vh;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    align-items: center;

}

.heading_desc {
    margin: 10px 0px;
}

.submit {
    margin: 23px 0px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.form {
    margin: 30px 0px;
}

.wrapinput100 {
    margin: 15px 0px;
}

.wrapinput100>input {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 320px;
    padding: 10px 15px;
}

.leftpaper {
    display: flex;
    justify-content: center;
    align-items: center;


}

.privicy {
    font-size: 10px;
    font-weight: 500;
}



/* rightpage css  */

.signuprighttemp {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signuprighttemp_in {
    position: relative;
    padding: 30px 20px;
    z-index: 1;
}

.signuprighttemp_in_data {
    background-color: rgb(196, 235, 235);
    position: relative;
    padding: 30px 20px;
    z-index: 1;
    z-index: 3;
}

.signuprighttemp_icon {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 10px;
}

.signuprighttemp_body {
    margin: 15px 0px;
}

.signuprighttemp_body>p {
    font-size: 18px;

}

.signuprighttemp_desc {
    font-size: 24px;
    font-weight: 500;
}

.signuprighttemp_logo {
    margin: 5px 0px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(103, 103, 186);
}

.bodersignup {
    top: 15%;
    right: -12px;
    position: absolute;
    background-color: blue;
    width: 310px;
    height: 350px;
    z-index: -1;
}




/* left css  */
.loginrighttemp {
    background-color: blue;
    border-radius: 10px;
    height: 100%;
    color: white;
    padding: 30px 0px;
    position: relative;
}

.loginrighttemp_in {
    padding: 0px 30px;
}

.loginrighttemp_icon {
    background-color: aliceblue;
    color: rgb(58, 58, 200);
    padding: 7px 17px;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    font-size: 15px;
}


.loginrighttemp_body {
    margin: 20px 0px;
    font-size: 27px;
    font-weight: 500;
}

.loginrighttemp_desc {
    /* margin: 10px; */
    font-size: 15px;
}

.subbmithover {
    width: 140px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(21, 21, 216);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.subbmithover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}



.subbmithover:active:after {
    background: transparent;
}

.subbmithover:hover:before {
    opacity: 1;
    background: #111;

}

.subbmithover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@media (max-width: 1000px) {
    .right_icon {
        display: none;
    }

    .limiter {
        grid-template-columns: 100%;
        width: 100%;
    }

    .rightpaper {
        display: none;
    }

    .privicy {
        font-size: 11px;
    }

    .signinup {
        background: white
    }
}