
.home {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
}

.home_main {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  overflow-y: scroll;
}


@media (max-width: 1250px) {
  .desktopnavbar {
    display: none;
  }

  .home {
    flex-direction: column;
  }

  .home_main {
    grid-template-columns: 100%;
    overflow-y: scroll;

  }

}


