/* .home{
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
@media (max-width: 1000px) {
  .home{
    display: grid;
    grid-template-columns:  100%;
  }
.navbar{

}
} */

.home{
  display: flex;
}
.home_main{
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
}

@media (max-width: 1000px) {
  .desktopnavbar{
    display: none;
  }
  .home{
    display: grid;
    grid-template-columns:  100%;
  }
  .home_main{
    display: grid;
    grid-template-columns: 100%;
  }
  
}